
.extension-list {
    width: clamp(343px, 91.5%, 1170px);
    margin-inline: auto;
    margin-block-start: clamp(40px, 10vw, 60px);
    container-name: head;
    container-type: inline-size;
}

.extension-list h1 {
    text-align: center;
}

.extension-list .head {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--spacing-300);
    align-items: center;


}

.extension-list .filter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-150);
}

.extension-list .head button {
    color: var(--color-neutral-900);
    padding: var(--spacing-100) var(--spacing-250) var(--spacing-125);
    border-radius: var(--radius-full);
    background-color: var(--color-neutral);
    border: inset 1px solid var(--color-neutral-200);
    box-shadow: 0 1px 2px #B8C4D7;
    text-align: center;
}

.extension-list .head button.selected {
    color: var(--color-neutral);
    background-color: var(--color-red-700);
    border: none;
    box-shadow: none;
}

.extensions {
    display: grid;
    gap: var(--spacing-150);
    margin-block-start: var(--spacing-400);
    grid-auto-rows: 200px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
}




/* dark theme */
[data-theme='dark'] .extension-list {
    & h1 {
        color: var(--color-neutral);
    }

    & .head button {
        border: inset 1px solid var(--color-neutral-600);
        background-color: var(--color-neutral-700);
        box-shadow: unset;
        color: var(--color-neutral);
    }

    & .head button.selected {
        color: var(--color-neutral-900);
        background-color: var(--color-red-400);
    }

}

@media screen and (min-width: 376px) {
    @container head (min-width: 600px) {
        .extension-list .head {
            gap: unset;
            flex-direction: row;
        }

        .extensions {
            grid-template-columns: 1fr 1fr;
        }


    }
}

@media screen and (min-width: 1000px) {
    @container head (min-width: 1000px) {
        .extensions {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

}