.header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-100) var(--spacing-150);
    background-color: var(--color-neutral);
    width: clamp(343px, 91.5%, 1170px);
    margin-inline: auto;
    border-radius: var(--radius-10);
    border: inset 1px solid var(--color-neutral-200);
    box-shadow: 0 2px 3px #D9E5F4;
}

.header > .logo {
    height: 41px;
    align-self: center;
    display: inline-flex;
    gap: var(--spacing-150);
    align-items: center;
}

.header > .logo > svg:first-child {
    fill: var(--color-red-700);
}

.header > .logo > svg:last-child {
    fill: var(--color-neutral-900);
}

.header > button {
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: var(--radius-12);
    background-color: var(--color-neutral-100);
}

[data-theme='dark'] {
    .header {
        background-color: var(--color-neutral-800);
        border: none;
        box-shadow: none;
    }

    .header > .logo > svg:first-child {
        fill: var(--color-red-400);
    }

    .header > .logo > svg:last-child {
        fill: #FFFFFF;
    }

    .header button {
        background-color: var(--color-neutral-700);
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: var(--spacing-150) var(--spacing-200);
        border-radius: 20px;
    }


}
