.App{
    background: var(--gradient-light);
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-block: clamp(20px, 5.3vw, 40px) 64px;
}

.App[data-theme='dark'] {
    background: var(--gradient-dark);
}